html, body {
  overflow-x: hidden;
  overflow-y: visible !important;
  font-family: Arial, Helvetica, sans-serif;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 600px) {

  .footer {
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 10px;
  }

}

@media screen and (min-width: 600px) {

  .footer {
    display: none;
  }

}

/* Header */

.navbar {
  background-color: rgb(190, 33, 54);
  z-index: 3;
}

.navbar-outside {
  overflow-y: visible !important;
  height: 200px;
}

.navbar-star {
  color:white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.navbar-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 300 !important;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 25px;
}

.innerSlant {
  width: 100%;
  height: 80px;
  margin-top: -90px;
  margin-left: 20px;
  background-color: rgb(190, 33, 54);
  transform:rotate(4deg);
  z-index: 2 !important;
}

.outerSlant {
  width: 100%;
  height: 100px;
  margin-top: -70px;
  margin-left: 20px;
  background-color: rgb(110, 14, 27);
  transform:rotate(5deg);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .innerSlant {
    width: 100%;
    height: 90px;
    margin-top: -100px;
    margin-left: 20px;
    background-color: rgb(190, 33, 54);
    transform:rotate(4deg);
    z-index: 2 !important;
  }
  
  .outerSlant {
    width: 100%;
    height: 100px;
    margin-top: -80px;
    margin-left: 20px;
    background-color: rgb(110, 14, 27);
    transform:rotate(7deg);
    z-index: 1;
  }
}

/* NavBar Side */

.nav-block {
  background-color: lightgray;
  border-bottom: 1px solid darkgrey;
  font-size: 10px;
  padding-left: 8px;
}

.nav-block-col {
  padding-top: 110px;
  margin-top: -200px;
  background-color: lightgray;
  bottom: 0;
  width: 90px;
}

.icon {
  width: 90px !important;
  height: 30px;
  margin: 15px 1px 5px 1px;
}

@media screen and (max-width: 600px) {
  
  .nav-block-col {
    display: none;
  }

}

/* NavBar Mobile */

.nav-block-mobile {
  background-color: lightgray;
}


.mobile-block {
  width: 20%;
  box-shadow: 1px 1px darkgrey;
}

.mobile-text {
  font-size: 10px;
}

.icon-mobile {
  margin-top: 15px;
  height: 25px;
  width: 25px !important;
}

/* Content */

.content-outside {
  margin-top: -50px;
  margin-left: -20px;
  width: 90%;
}

.title-row {
  font-weight: 100 !important;
  margin-left: 2%;
}

.subtitle-row {
  margin-left: 4%;
  margin-top: 1%;
  font-size: smaller;
  color: rgb(94, 94, 94);
}

.top-card {
  margin-top: 8%;
}

.notif-outside {
  margin-left: 5%;
}

.notif-icon {
  color: black !important;
  height: 40px;
  width: 35px !important;
}

.notif-text {
  padding-top: 2px;
  font-size: 12px;
}

.btn-notif {
  background-color: blueviolet;
  color: white;
  width: 80%;
  margin-left: -20px;
  height: 30px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
}

.btn-shout {
  background-color: blueviolet;
  color: white;
  width: 80%;
  height: 30px;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
}

.card-box {
  box-shadow: 1px 1px 2px 2px gray;
  margin-bottom: 5%;
  border-radius: 10px;
}

.box-title {
  font-weight: 900;
  font-size: 15px;
  margin-top: 15px;
}

.engagement-icon {
  color: black !important;
  height: 40px;
  width: 35px !important;
  margin-left: -15px !important;
}

.user-icon {
  width: 40px !important;
  height: 40px;
  margin-top: 15px;
  margin-left: -50px;
}

@media screen and (max-width: 1000px) {

  .card-box {
    box-shadow: none !important;
  }
  
  .box-title {
    margin-left: 6%;
    font-weight: 300 !important;
    font-size: smaller!important;
    color: rgb(94, 94, 94);
  }

  .engagement-row {
    margin-left: 5px !important;
    margin-bottom: -30px !important;
  }

  .top-card {
    margin-top: 5px;
  }

}

@media screen and (min-width: 680px) {

  .nn {
    display: none;
  }

}

@media screen and (max-width: 680px) {

  .content-outside {
    width: 85%
  }
  .mn {
    display: none;
  }

}

@media screen and (max-width: 600px) {

  .content-outside {
    margin-left: 0px !important;
    width: 100%
  }
  .app {
    padding-bottom: 100px;
  }

  .users {
    display: none;
  }

}